{% extends 'recipes/base.html'%}
{% load crispy_forms_tags %}
{% block content%}
<div class="container">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class=" md-4"> are you sure you want to delete {{object.pk}}</legend>
            {{form|crispy }}
        </fieldset>
        <div class="form-group py-3">
            <input type="submit" value="delete" class="btn btn-otline-danger">
        </div>

    </form>
    <div class="border-top pt-3">
        <a href="{% url 'recipes-home' %}">cancel</a>
    </div>
</div>

{% endblock content%}